*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(114, 250, 232), rgb(28, 32, 228));
    height: 105vh;
}

h1.titulo{
    text-align: center;
    font-size: 3rem;
}

#myInput{
    width: 50%;
    height: 2rem;
    text-align: center;
}
.addBtn{
    width: 20%;
    height: 2rem;
}
#myUL li{
    margin-top: 5px;
    background-color: gray;
    border: 1px solid;
    list-style: none;
}
.cup{
    width: 40%;
    padding: 1rem;
}

#fecha{
    font-size: 3rem;
    color: salmon;
}

p.question{
    font-size: 2rem;
}

div.content{
    width: 45%;
    margin: 0 auto;
    border: 1px solid #000;
    background: #e4e3e7;
    text-align: center;
    padding: 80px;
    border-radius: 10%;
}

#eliminar-tareas{
    margin: 5px;
}